{% extends "template.html" %}


{% block content %}

<section class="relative py-20 2xl:py-40 bg-gray-800">
    <div class="container px-4 pb-20 mx-auto border-b border-gray-500 max-w-5xl mx-auto">
        <div class="mb-14 text-center">
          
            <h2 class="mt-8 text-xl font-bold font-heading text-white">Completed Tasks</h2>
        </div>
        <div class="pt-20 border-t border-gray-500 overflow-x-auto overflow-y-hidden">
            <table class="table-auto w-full mb-10">
                <thead>
                    <tr class="text-lg text-gray-200 text-left font-bold">
                        <th class="pb-6"></th>
                        <th class="pb-6 pr-8">Tasks</th>
                  
                    
                    </tr>
                </thead>
                <tbody>
                    {% for task in completed_tasks %}
                    <tr class="text-lg text-white bg-gray-700">
                        <td class="py-5 pl-10 text-left text-gray-200">{{forloop.counter}}</td>
                        <td>{{ task }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
    </div>
</section>


{% endblock %}